@font-face {
    font-family: NeuePlac;
    src: url(assets/fontes/);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E6E6E5;
}

.logo-style img {
    max-width: auto;
    max-height: 10vh;
    padding: 2vh;
}

.border-red {
    border-color: #ee0404;
    border-style: solid;
}

.bg-platinum {
    background-color: #E6E6E5;
}

.bg-white-smoke {
    background-color: #f3f3f2;
}

.nav-style {
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2) !important
}